.details {
  padding: 18px 11px;

  &--hidden {
    display: none;
  }

  &__title {
    margin-bottom: 30px;
  }

  @include mq(medium, land) {
    flex-grow: 1;
    padding: 50px 30px;

    &__title {
      font-size: 1.5rem;
    }

    &__detail-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }
  }

  @include mq(medium, land) {
    padding: 100px 30px;
  }

  @include mq(large, land) {
    padding: 150px 100px;
  }
}

.detail {
  margin-bottom: 30px;
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color-secondary;

  &__subtitle {
    font-size: 2rem;

    &--value {
      margin-right: 10px;
      font-size: 3.5rem;
      font-weight: bold;
    }
  }

  &__wind-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $btn-background-color-1;
    box-shadow: 0 0 5px 0 $btn-background-color-1,
      0 0 10px 0 $btn-background-color-1, 0 0 20px 0 $btn-background-color-1;
  }

  &__progress-bar {
    position: relative;
    margin: 30px 0 10px;
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: $font-color-white;
  }

  &__progress-bar-fill {
    position: absolute;
    height: 100%;
    border-radius: 50px;
    background-color: $progress-bar-fill;
  }

  &__progress-bar-value {
    position: absolute;
    color: $font-color-grey;
    font-weight: 700;

    &--0 {
      top: -20px;
      left: 0;
    }

    &--50 {
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
    }

    &--100 {
      top: -20px;
      right: 0;
    }

    &--char {
      top: 15px;
      right: 0;
    }
  }

  @include mq(xxsmall, port) {
    padding: 30px 10px;

    &__subtitle {
      font-size: 2.5rem;

      &--value {
        font-size: 4rem;
      }
    }
  }

  @include mq(medium, land) {
    margin-bottom: 0;
    padding: 40px 20px;

    &__subtitle {
      font-size: 2.7rem;

      &--value {
        font-size: 4.2rem;
      }
    }
  }

  @include mq(large, land) {
    &__subtitle {
      font-size: 3rem;

      &--value {
        font-size: 4.5rem;
      }
    }
  }
}
