*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-primary;
  font-size: $font-size-primary;
  color: $font-color-white;
}

body {
  background-color: $background-color-primary;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;

  @include mq(medium, land) {
    flex-direction: row;
  }
}
