$breakpoints: (
  xxsmall: (
    min-width: 360px,
  ),
  xsmall: (
    min-width: 460px,
  ),
  small: (
    min-width: 800px,
  ),
  medium: (
    min-width: 1024px,
  ),
  large: (
    min-width: 1280px,
  ),
  xlarge: (
    min-width: 1440px,
  ),
  xxlarge: (
    min-width: 1600px,
  ),
);

$orientations: (
  port: (
    orientation: portrait,
  ),
  land: (
    orientation: landscape,
  ),
);

$font-family-primary: 'Raleway', sans-serif;
$font-size-primary: 16px;
$font-color-white: #e7e7eb;
$font-color-grey: #a09fb1;

$background-color-primary: #100e1d;
$background-color-secondary: #1e213a;

$btn-background-color-1: #6e707a;
$btn-background-color-2: #3c47e9;

$progress-bar-background: $font-color-white;
$progress-bar-fill: #ffec65;
